.Taskdetail{
    width: 69.75%;
    height: 99.75%;
    background-color: #353a40;
    border-radius: 0px 0px 15px 0px;

}

.Taskcard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}