.teamimg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.teamavatar{
    width: 20px;
    height: 27px;
    margin-top: 10px;
    padding-right: 8px;
}
.teamimg:hover{
    width: 27px;
    height: 27px;
}
.teampanel{
    margin-top: 0px;
    position: absolute;
    bottom: 2px;
    margin-bottom: 20px;
    background-color: #353a40;
    border-top: 1px solid rgb(128,128,128, 0.25);
    width: 100%;
}
.teamheader{
    display: flex;
    padding-left: 23px;
    justify-content: flex-start;
    /* margin-bottom: 10px; */
    /* margin-top: 10px; */
}
.teamavatars{
    display: flex;
    padding-left: 25px;
    justify-content: flex-start;
}
.teamheader > h3{
    font-size: 12px;
    color:#bdc1c6;
    /* margin-top: 10px; */
}
